*{
    margin: 0;
    padding: 0;
}

.encabezado{
    background-color: rgb(72, 114, 71);
    height: 65px;
    padding: 5px 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lista-navegacion li{
  display: inline-block; 
  padding: 0 20px;
}

.btn{
    border: none;
    border-radius: 20px;
    padding: 9px 10px;
    background-color: pink;
    cursor: pointer;
}